**/bin
**/obj
**/out
**/publish
**/TestResults
**/.vs
**/.vscode
**/.idea
**/.git
**/.github
**/node_modules
**/*.user
**/*.suo
**/secrets.json
**/.env
**/.env.*
!**/.env.example
**/coverage
**/Dockerfile
**/.dockerignore
**/docker-compose*.yml
**/docs/
**/DocFx/
README.md
DEPLOY.md
CHANGES.md
*.md
LICENSE
.gitignore
.editorconfig
